* {
    text-decoration: none;
    color: inherit;
    display: inherit; 
    margin: 0;
    padding: 0;

}


#showcase  {
  text-align: center;
  width: 65%;
  margin-left: 200px;
  box-sizing: content-box;
  height: 500px;
  background: fixed;
  background-image: url(C:\Users\pc\Desktop\BOOTCAMP\medina\gigi-logo.png)
  
}

#showcase h1 {

    position:relative;
    display: inline-block;
    margin:0 25px;
    padding:0 10px;
    height:40px;
} 
 
li {
    display: inline;
    color: white; 
    padding: 5px 20px; 
               
}

.container {
    display: inline;
}

    

 header {
    box-sizing: border-box;
    background-color: black;
    color: white;
    height: 80px;
    padding-right: 70px;
    padding-inline-start: 60px;
    
    
} 
 .current {
     color: red;
 }

 #newsletter {
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-size: 15px;
    height: 80px;
    
}


#branding h1 {
    color: white;
}

span {
    visibility: hidden;
}


#boxes {
    box-sizing: content-box;
    margin-top: 40px;
    text-align: center;
    
}


footer {
    text-align: center;
    background-color: orangered;
    height: 50px;
    width: 95%;
    color: white;
    padding-top: 7px;
    margin-bottom: 7px;
}

#html-logo img {
        display: inline-block;
    max-width: 100%;
    height: auto;
}